.neuron-contact {
    display: inline-block;
    padding-bottom: 30px;
    background-image: url(../image/contact-bg.jpg);
    background-size: cover;
    background-position: center top;

}
.contact-information {
    display: inline-block;
    font-size: 15px;
    line-height: 31px;
    padding: 44px 50px 30px;
    width: 100%;
    float: left;
    background-color: #fff;
    margin-top: 0%;
    border-radius: 5px;
    color: #666666;
}

.flaticon-map-location:before {
    display: inline-block;
    font-size: 100px;
    line-height: 100px;
    margin:0 0 20px 0;
    width: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(0deg, #09c778, #01a0f9);

}
.contact-title{
}
.title {
    color: #333333;
    font-size: 30px;
    line-height: 32px;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-bottom: 26px;
}
.contacts-all{
    display: inline-block;
    width: 100%;
    text-align: left;
}
.sec-icon{
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 30px;
   
}
.icon{
    display: inline-block;
    width: auto;
    float: left;
    margin: 0 20px 0 0;
   
}
.icon-text{
    box-sizing: border-box;
    float: left;       
}
h4 {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    float: left;
    color: #333333;
}
.contacts-all > p {
    box-sizing: border-box;
  
}

.icon-text > a {
    color: #666666;
    font-size: 15px;
    line-height: 26px;
    text-decoration: none;
}

.icon-text > a:hover {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(0deg, #09c778, #01a0f9);

}
.flaticon-placeholder:before,
.flaticon-mobile-phone:before,
.flaticon-mail:before{
    display: inline-block;
    font-size: 30px;
    margin: 10px 0 0 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(0deg, #09c778, #01a0f9);
    float: left;
}
.message-form {
}
.field {
}

input,
textarea{
    display: inline-block;
    width: 100%;
    font-size: 15px;
    color: white;
    line-height: 20px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    margin: 0 0 30px;
    padding: 20px;
    outline: none;
}
textarea {
    min-height: 120px;

}

::placeholder{
    color: white;
}
.form-btn > button {
    width: 100%;
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
}

