.neuron-contact {
    display: inline-block;
}
.contact-information {
    display: inline-block;
    font-size: 16px;
    padding: 44px 50px 30px;
    width: 100%;
    float: left;
    background-color: #fff;
}
.contact-icon-place {
    display:inline-block;
    width: 100%;
    float: left;
}
.flaticon-map-location:before {
    font-size: 100px;
    margin: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(0deg, #09c778, #01a0f9);
}
.contact-title{
    display: inline-block;
    width: 100%;
}
.title {
    color: black;
    font-size: 30px;
    line-height: 32px;
    font-family: sans-serif;
}
.contacts-all{
    display: inline-block;
    width: 100%;
    text-align: left;
}

.icon-place{
    display: inline-block;
    width: auto;
    float: left;
    margin: 0 20px 0 0;
   
}
.icon-text{
    display: inline-block;
    width: 100%;
    float: left;
  
   
}
h4 {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    float: left;
}
.contacts-all > p {
    box-sizing: border-box;
}

.contact-all > a {
    display: block;
    width: 100%;
    color: #666666;
    float: left;
}
.flaticon-placeholder:before{
    display: inline-block;
    font-size: 30px;
    margin: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(0deg, #09c778, #01a0f9);
    float: left;
}
.flaticon-mobile-phone:before {
    display: inline-block;
    font-size: 30px;
    margin: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(0deg, #09c778, #01a0f9);
    float: left;
}

.flaticon-mail:before{
    display: inline-block;
    font-size: 30px;
    margin: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(0deg, #09c778, #01a0f9);
    float: left;
}
.message-form {
    display: inline-block;
    width: 100%;
}
input{
    display: inline-block;
    float: left;
    font-size: 15px;
    line-height: 40px;
    width: 100%;

}
textarea {
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    width: 100%;
}
.submit-btn {
    width: 100%;
    line-height: 40px;
}

 .contact-us > a {

 }