@import './components/reset.css';
@import './components/layout.css';

/* CUSTOM HOME PAGE CSS */

/* 
<!-- header/hero KAROLIS -->
<!-- creativity -->
<!-- realistic plus numbers JURGITA-->
<!-- core services -->
<!-- latest project -->
<!-- news -->
<!-- works -->
<!-- recent blog post -->
<!-- contact me ŽIVILĖ -->
<!-- footer KAROLIS --> */