@import './components/reset.css';
@import './components/layout.css';

/* CUSTOM HOME PAGE CSS */

 
/* <!-- header/hero KAROLIS --> */

html, body {
    font-family: 'Poppins', sans-serif;
}

.container {
display: inline-block;
padding-left: 60px;
padding-right: 60px;
width: 100%;

}

.toolbar {
    padding: 22px 60px 22px;

}

hr {
    margin-top: 22px;}

.icons {
    float: right;
    }

.contact {
    color: #01a0f9;
    float: left;
}

a {
    color: #01a0f9;
    text-decoration: none;
    transition: all 0.5s;
}

a:active,
a:hover {
  text-decoration: none;
  outline: 0 none;
  color: #09c778;
}

.contact > .fa-phone {
    padding-left: 20px;
}

.contact > .fa {
    padding-right: 10px;
}

.fa-google-plus, .fa-twitter, .fa-linkedin {
    margin-left: 15px;
}

/* <!-- creativity -->
<!-- realistic plus numbers JURGITA-->
<!-- core services -->
<!-- latest project -->
<!-- news -->
<!-- works -->
<!-- recent blog post -->
<!-- contact me ŽIVILĖ -->
<!-- footer KAROLIS --> */