@import './components/reset.css';
@import './components/layout.css';
@import './components/flaticon.css';


/* CUSTOM HOME PAGE CSS */

 
/* <!-- header/hero KAROLIS --> */

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container {
display: inline-block;
padding: 0 100px;
width: 100%;

}

.toolbar {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;

}

hr {
    margin-top: 22px;
    color: blue;}

.icons {
    float: right;
    }

.contact {
    color: white;
    float: left;
}

.contact > a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all 1s;
}



.toolbar a:active, .toolbar a:hover {
  text-decoration: none;
  outline: 0 none;
  color: #A0DCFD;


}

.contact > .fa-phone {
    padding-left: 20px;
}

.contact > .fa {
    padding-right: 10px;
    line-height: 23px;

}

.icons .fa {
    color: white;
    transition: all 1s;
}

.icons .fa:active, .icons .fa:hover {
    color: #09c778;
}

.fa-google-plus, .fa-twitter, .fa-linkedin {
    margin-left: 15px;
}

.logo {
    padding-top: 40px;
    float: left;
}

.header-menu {
    display: table;
    float: right;


}

.header-menu-section {
    display: table-cell;
    padding: 15px 0 0 30px;
    font-size: 17px;
    line-height: 70px;
    font-weight: 500;
    /* outline: 0; */
}

.header-menu-section {
    position: relative;
    perspective: 1000px;

}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 200px;
    font-size: 16px;
    font-weight: 400px;

}



.header-menu-section:hover .dropdown-content {
    display: block;
    color: #A0DCFD;
    background-color: #A0DCFD;
    font-size: 16px;
    font-weight: 400;
    /* transform: translateX(-37%); */
}

.header-menu-section:hover .dropdown-content-pages {
    display: block;
    background-color:#A0DCFD;
    column-count: 3;
    font-size: 16px;
    font-weight: 400;
    }


.header-menu a:visited {
    text-decoration: none;
    color:white;
    
}

.header-menu a {
    text-decoration: none;
}

.dropdown-content-pages {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 600px;

}

.dropdown-content a, .dropdown-content-pages a {
    display: block;
    padding: 12px 15px;


}

.dropdown-content {
    opacity: 0;
    animation-name: dropdown-content;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.dropdown-content-pages {
    animation-name: slit-in-horizontal;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.dropdown-content a:hover, .dropdown-content-pages a:hover {
    color: #A0DCFD;
    background-color:white;   
}



.container .header-menu .header-menu-section a:hover {
    color: #A0DCFD;
}

.fa-shopping-bag, .fa-search {
    color: white;
    padding-top: 40px;

}

.fa-shopping-bag {
    padding-right: 30px;
    padding-left: 30px;
}

.main-hero {
    background: url(../images/h1-s1.jpg);
    background: cover;
    height: 860px;

}

.hero-layout {
    display: flex;
    padding-top: 100px;


}

.hero-layout h1 {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    float: right;
}

.hero-h1 {
    width: var(--col5);
}

.hero-image-pack {
    width: var(--col7);
    display: flex;
    align-items: flex-end;

    margin-right: 0;
}

.hero-image-pack > img {
    float: right;
    margin-right: 0; 
}


.hero-h1 > p {
    color:white;
    font-size: 20px;
    line-height: 30px;
    padding: 14px 0 42px;
}

@keyframes dropdown-content {

    0% {
        opacity: 0%;
        transform: rotateY(-90deg) translateY(30px);

    }

    100% {
        opacity: 100%;
        transform: rotateY(0) translateY(0) translateX(-37%);
    }
}

@-webkit-keyframes slit-in-horizontal {
    0% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
              transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
              transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
              ;
    }
  }
  @keyframes slit-in-horizontal {
    0% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
              transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
              transform: translateZ(-160px) rotateX(87deg) translateX(-37%);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0) translateX(0) translateX(-37%);
    }
  }

/* <!-- creativity -->
<!-- realistic plus numbers JURGITA-->
<!-- core services -->
<!-- latest project -->
<!-- news -->
<!-- works -->
<!-- recent blog post -->
<!-- contact me ŽIVILĖ -->
<!-- footer KAROLIS --> */